@import url('https://fonts.googleapis.com/css?family=Amaranth|Dosis');

body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Dosis', sans-serif;
}

nav{
  background: #D7E7D7;
  width:100%;
  heigh:50px;
  padding-top: 1px;
  padding-bottom:1px;
  margin-bottom:20px;
  text-align:center;
}

h1{
  text-align: center;
  background-color: #7CB27C;
  margin-bottom:20px;
  padding:20px;
  font-family: 'Amaranth', sans-serif;
}

h2{
  background-color:#D7E7D7; 
  font-family: 'Amaranth', sans-serif;
}

img{
  width: 500px;
  border: 7px solid #7CB27C;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  float: left;
  margin-right: 25px;
}

article{
padding-top:10px;
padding-bottom: 25px;
background-color: #D7E7D7;
padding-left: 35px;
border: 2px solid #000000;
margin-top: 20px;
}

nav a {
  color: #000000;
  line-height:2em;
}

nav li {
  list-style-type: none;
  display:inline;
  padding-right: 100px;
  font-weight:bold;
  font-size:1.25em;
}

article > p {
  font-weight: bolder;
  font-style: italic;
  color: #7CB27C;
}