table {
    border-collapse: collapse;
    overflow: auto;
    font-family: "Ubuntu", "Verdana", "Arial", sans-serif;
}

tr:hover{background-color: whitesmoke;}

table,
th,
td {
    padding: 30px;
    border: 1px solid #DCDCDC;
    text-align: center;
}

tr.header {
    background-color: turquoise;
    color: white
}

tr.subheader {
    background-color: rgb(51, 182, 169);
    color: white;
}

tr.footer{
    background-color: rgb(51, 182, 169);
    color: white;
}

