table.table1{
    border-collapse: collapse;
    overflow: auto;
}

table.table1, th.table1, td.table1{
    border: 1px solid black;
    padding: 5px 15px 5px 5px;
}

tbody.table1 tr:hover{background-color: lightyellow}

table.table2{
    border-collapse: collapse;
    overflow: auto;
}

table.table2, th.table2, td.table2{
    border: 2px solid white;
    width: 500px;
    padding: 10px;
}

th.table2{
    border-bottom: 4px solid white;
}

thead.table2{
    background-color: gray;
}
tbody.table2{
    background-color: rgb(223, 223, 223);
}



table.table3{
    border-collapse: collapse;
    overflow: auto;
}

table.table3, th.table3, td.table3{
    border: 2px solid white;
    padding: 5px 15px 5px 5px;
}

th.table3{
    border-bottom: 4px solid white;
}

thead.table3{
    background-color: steelblue;
}

tbody.table3{
    background-color: aliceblue
}

table.table3 tr:nth-child(even) {background-color:skyblue;}