body{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
}

nav {
    display: flex;
    flex-flow: column wrap;
    background-color: lightyellow;
    border-radius: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

nav a {
    color: lightpink;
}

nav li {
    list-style-type: none;
    display: inline;
    padding-right: 100px;
    font-weight: bold;
    font-size: 1.25em;

}

nav ul{
    display: none;
}
nav:hover ul{display: block;}

nav ul{
    display: none;
}
nav:hover ul{display: block;}

h1 {
    background-color: lightpink;
    color: lightyellow;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

h2 {
    color: lightblue;
    margin: 30px;
    text-align: center;
    text-decoration: underline overline;
}

h3 {
    color: lightpink;
    padding: 10px 10px 10px 10px;
    text-decoration: underline overline;
    text-align: center;
}

section li {
    list-style-type: circle;
    margin-right: 20px;
    list-style-position: inside;
}

img {
    width: 370px;
    border: 3px solid lightblue;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 20px 20px 20px 20px
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

article {
    border: 6px dotted lightpink;
    background-color: lightyellow;
    border-top-right-radius: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 35px;
}

article>p {
    font-weight: bolder;
    font-style: italic;
    color: #017997;
}
hr{
    margin: 10px;
}

table, th, td{
    border-collapse: collapse;
    padding: 2px 15px 2px 15px;

}
th{
    border-bottom: 1px solid grey;

}
td.left, th.left{
    border-right: 1px solid grey;
    border-color: transparent;
}


